WcfTestApp/Service References/ErpService/IService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.117.230:15004/IService?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ReturnResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="_x003C_Exception_x003E_k__BackingField" nillable="true" type="q1:Exception" />
      <xs:element name="_x003C_FaultMessage_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsSuccess_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_LogErrorMessage_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnResult" nillable="true" type="tns:ReturnResult" />
  <xs:complexType name="ReturnResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReturnResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReturnResultOfboolean" nillable="true" type="tns:ReturnResultOfboolean" />
</xs:schema>