WcfTestApp/Service References/ErpService/IService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ERP.Model.Goods" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERP.Model.Goods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.117.230:15004/IService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfGoodsBarcodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsBarcodeInfo" nillable="true" type="tns:GoodsBarcodeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsBarcodeInfo" nillable="true" type="tns:ArrayOfGoodsBarcodeInfo" />
  <xs:complexType name="GoodsBarcodeInfo">
    <xs:sequence>
      <xs:element name="_x003C_GoodsCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GoodsId_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_GoodsName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SellPrice_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsBarcodeInfo" nillable="true" type="tns:GoodsBarcodeInfo" />
</xs:schema>