WcfTestApp/Service References/ErpService/IService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.117.230:15004/IService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfguidguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfguidguid" type="tns:KeyValuePairOfguidguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfguidguid" nillable="true" type="tns:ArrayOfKeyValuePairOfguidguid" />
  <xs:complexType name="KeyValuePairOfguidguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="ser:guid" />
      <xs:element name="value" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfguidguid" nillable="true" type="tns:KeyValuePairOfguidguid" />
  <xs:complexType name="KeyValuePairOflongboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:long" />
      <xs:element name="value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOflongboolean" nillable="true" type="tns:KeyValuePairOflongboolean" />
  <xs:complexType name="ArrayOfKeyValuePairOfguidint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfguidint" type="tns:KeyValuePairOfguidint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfguidint" nillable="true" type="tns:ArrayOfKeyValuePairOfguidint" />
  <xs:complexType name="KeyValuePairOfguidint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="ser:guid" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfguidint" nillable="true" type="tns:KeyValuePairOfguidint" />
</xs:schema>